In [23]:
import requests

In [24]:
from bs4 import BeautifulSoup

In [25]:
from tqdm import tqdm

In [26]:
import pandas as pd

In [27]:
data=[]
for i in tqdm(range(1,51)):
    link='https://books.toscrape.com/catalogue/page-'+str(i)+'.html'
    res=requests.get(link)
    soup=BeautifulSoup(res.text,'html.parser')
    for sp in soup.find_all('li',class_="col-xs-6 col-sm-4 col-md-3 col-lg-3"):
        Booklink="https://books.toscrape.com/catalogue/"+sp.find('a').get('href')
        Picturelink='https://books.toscrape.com/'+str(sp.find_all('img')[-1].get('src'))
        Title=sp.find_all('a')[-1].get('title')
        Price=sp.find('p',class_='price_color').text[2:]
        Rating=sp.find_all('p')[0].get('class')[1]
        Stock=sp.find('p',class_='instock availability').text.strip()
        data.append([Booklink,Picturelink,Title,Price,Rating,Stock])

100%|██████████████████████████████████████████████████████████████████████████████████| 50/50 [00:56<00:00,  1.13s/it]

In [28]:
df=pd.DataFrame(data,columns=['Booklink','Picturelink','Title','Price','Rating','Stock'])

In [29]:
df.to_csv('BookScrapper.csv',index=False)

In [30]:
df1=pd.read_csv('BookScrapper.csv')

In [31]:
df1

,Booklink,Picturelink,Title,Price,Rating,Stock
0,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,A Light in the Attic,51.77,Three,In stock
1,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,Tipping the Velvet,53.74,One,In stock
2,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,Soumission,50.10,One,In stock
3,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Sharp Objects,47.82,Four,In stock
4,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Sapiens: A Brief History of Humankind,54.23,Five,In stock
...,...,...,...,...,...,...
995,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...,Alice in Wonderland (Alice's Adventures in Won...,55.53,One,In stock
996,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,Four,In stock
997,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...,A Spy's Devotion (The Regency Spies of London #1),16.97,Five,In stock
998,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...,1st to Die (Women's Murder Club #1),53.98,One,In stock
999,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...,"1,000 Places to See Before You Die",26.08,Five,In stock

In [32]:
df1.isnull().sum()

Booklink       0
Picturelink    0
Title          0
Price          0
Rating         0
Stock          0
dtype: int64

In [33]:
df1['Rating'].unique()

array(['Three', 'One', 'Four', 'Five', 'Two'], dtype=object)

In [34]:
(df1['Rating']=='Three').sum()

203

In [35]:
len(df1[df1['Rating']=='One'])

226

In [36]:
len(df1[df1['Rating']=='Two'])

196

In [37]:
len(df1[df1['Rating']=='Three'])

203

In [38]:
len(df1[df1['Rating']=='Four'])

179

In [39]:
len(df1[df1['Rating']=='Five'])

196

In [40]:
max(df1['Price'])

59.99

In [41]:
min(df1["Price"])

10.0

In [42]:
(df1['Price']>50).sum()

198

In [43]:
(df1['Price']<50).sum()

802

In [44]:
df1[df1['Price']==10.0]

,Booklink,Picturelink,Title,Price,Rating,Stock
638,https://books.toscrape.com/catalogue/an-abunda...,https://books.toscrape.com/../media/cache/ed/4...,An Abundance of Katherines,10.0,Five,In stock